
/* not sure what to do with this but I want to be able to hook it up to work with the dropdown menu */
#google_translate_element .goog-te-gadget-icon{display:none !important;
}

/* BACKGROUND CHANGE attempt */
/* If I add a period before body, then the image does not extend beyond nav */

.Background_Image {
    background-image: url("pexels-alexander-grey-1428171.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 80vh;
    width: 100%;
    }
   
    /* background-position: center center; NOPE!!! */
    
    /* This makes bunch of them but the main image remains the same size */
    /* background-size: 500px; */
 }